.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

select {
    font-family: 'Arial';
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 0px 10px;
    outline: 0;
    border: 0px solid #000000;
    border-radius: 5px;
    background: transparent;
    color: #ffffff;
    appearance: none;
    font-size: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

/* .select select:hover,
.select select:focus {
    color: #000000;
    /* background: #e6e0e0; */
/* } */

*/ .select select:disabled {
    opacity: 0.4;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 17px;
    right: 15px;
    margin-left: 10px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
}

.select select:hover~.select_arrow,
.select select:focus~.select_arrow {
    border-top-color: #000000;
}

select option {
    color: #000;
    padding: 10px 0px;
    /* background-color: #000; */
}

.select select:disabled~.select_arrow {
    border-top-color: #cccccc;
}